@import '../assets/iconfont/iconfont.css';
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}
html::-webkit-scrollbar,
body::-webkit-scrollbar,
div::-webkit-scrollbar,
span::-webkit-scrollbar,
applet::-webkit-scrollbar,
object::-webkit-scrollbar,
iframe::-webkit-scrollbar,
h1::-webkit-scrollbar,
h2::-webkit-scrollbar,
h3::-webkit-scrollbar,
h4::-webkit-scrollbar,
h5::-webkit-scrollbar,
h6::-webkit-scrollbar,
p::-webkit-scrollbar,
blockquote::-webkit-scrollbar,
pre::-webkit-scrollbar,
a::-webkit-scrollbar,
abbr::-webkit-scrollbar,
acronym::-webkit-scrollbar,
address::-webkit-scrollbar,
big::-webkit-scrollbar,
cite::-webkit-scrollbar,
code::-webkit-scrollbar,
del::-webkit-scrollbar,
dfn::-webkit-scrollbar,
em::-webkit-scrollbar,
img::-webkit-scrollbar,
ins::-webkit-scrollbar,
kbd::-webkit-scrollbar,
q::-webkit-scrollbar,
s::-webkit-scrollbar,
samp::-webkit-scrollbar,
small::-webkit-scrollbar,
strike::-webkit-scrollbar,
strong::-webkit-scrollbar,
sub::-webkit-scrollbar,
sup::-webkit-scrollbar,
tt::-webkit-scrollbar,
var::-webkit-scrollbar,
b::-webkit-scrollbar,
u::-webkit-scrollbar,
i::-webkit-scrollbar,
center::-webkit-scrollbar,
dl::-webkit-scrollbar,
dt::-webkit-scrollbar,
dd::-webkit-scrollbar,
ol::-webkit-scrollbar,
ul::-webkit-scrollbar,
li::-webkit-scrollbar,
fieldset::-webkit-scrollbar,
form::-webkit-scrollbar,
label::-webkit-scrollbar,
legend::-webkit-scrollbar,
table::-webkit-scrollbar,
caption::-webkit-scrollbar,
tbody::-webkit-scrollbar,
tfoot::-webkit-scrollbar,
thead::-webkit-scrollbar,
tr::-webkit-scrollbar,
th::-webkit-scrollbar,
td::-webkit-scrollbar,
article::-webkit-scrollbar,
aside::-webkit-scrollbar,
canvas::-webkit-scrollbar,
details::-webkit-scrollbar,
embed::-webkit-scrollbar,
figure::-webkit-scrollbar,
figcaption::-webkit-scrollbar,
footer::-webkit-scrollbar,
header::-webkit-scrollbar,
hgroup::-webkit-scrollbar,
main::-webkit-scrollbar,
menu::-webkit-scrollbar,
nav::-webkit-scrollbar,
output::-webkit-scrollbar,
ruby::-webkit-scrollbar,
section::-webkit-scrollbar,
summary::-webkit-scrollbar,
time::-webkit-scrollbar,
mark::-webkit-scrollbar,
audio::-webkit-scrollbar,
video::-webkit-scrollbar {
  height: 8px;
  width: 8px;
  z-index: 3;
}
html::-webkit-scrollbar-track,
body::-webkit-scrollbar-track,
div::-webkit-scrollbar-track,
span::-webkit-scrollbar-track,
applet::-webkit-scrollbar-track,
object::-webkit-scrollbar-track,
iframe::-webkit-scrollbar-track,
h1::-webkit-scrollbar-track,
h2::-webkit-scrollbar-track,
h3::-webkit-scrollbar-track,
h4::-webkit-scrollbar-track,
h5::-webkit-scrollbar-track,
h6::-webkit-scrollbar-track,
p::-webkit-scrollbar-track,
blockquote::-webkit-scrollbar-track,
pre::-webkit-scrollbar-track,
a::-webkit-scrollbar-track,
abbr::-webkit-scrollbar-track,
acronym::-webkit-scrollbar-track,
address::-webkit-scrollbar-track,
big::-webkit-scrollbar-track,
cite::-webkit-scrollbar-track,
code::-webkit-scrollbar-track,
del::-webkit-scrollbar-track,
dfn::-webkit-scrollbar-track,
em::-webkit-scrollbar-track,
img::-webkit-scrollbar-track,
ins::-webkit-scrollbar-track,
kbd::-webkit-scrollbar-track,
q::-webkit-scrollbar-track,
s::-webkit-scrollbar-track,
samp::-webkit-scrollbar-track,
small::-webkit-scrollbar-track,
strike::-webkit-scrollbar-track,
strong::-webkit-scrollbar-track,
sub::-webkit-scrollbar-track,
sup::-webkit-scrollbar-track,
tt::-webkit-scrollbar-track,
var::-webkit-scrollbar-track,
b::-webkit-scrollbar-track,
u::-webkit-scrollbar-track,
i::-webkit-scrollbar-track,
center::-webkit-scrollbar-track,
dl::-webkit-scrollbar-track,
dt::-webkit-scrollbar-track,
dd::-webkit-scrollbar-track,
ol::-webkit-scrollbar-track,
ul::-webkit-scrollbar-track,
li::-webkit-scrollbar-track,
fieldset::-webkit-scrollbar-track,
form::-webkit-scrollbar-track,
label::-webkit-scrollbar-track,
legend::-webkit-scrollbar-track,
table::-webkit-scrollbar-track,
caption::-webkit-scrollbar-track,
tbody::-webkit-scrollbar-track,
tfoot::-webkit-scrollbar-track,
thead::-webkit-scrollbar-track,
tr::-webkit-scrollbar-track,
th::-webkit-scrollbar-track,
td::-webkit-scrollbar-track,
article::-webkit-scrollbar-track,
aside::-webkit-scrollbar-track,
canvas::-webkit-scrollbar-track,
details::-webkit-scrollbar-track,
embed::-webkit-scrollbar-track,
figure::-webkit-scrollbar-track,
figcaption::-webkit-scrollbar-track,
footer::-webkit-scrollbar-track,
header::-webkit-scrollbar-track,
hgroup::-webkit-scrollbar-track,
main::-webkit-scrollbar-track,
menu::-webkit-scrollbar-track,
nav::-webkit-scrollbar-track,
output::-webkit-scrollbar-track,
ruby::-webkit-scrollbar-track,
section::-webkit-scrollbar-track,
summary::-webkit-scrollbar-track,
time::-webkit-scrollbar-track,
mark::-webkit-scrollbar-track,
audio::-webkit-scrollbar-track,
video::-webkit-scrollbar-track {
  width: 6px;
}
html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb,
div::-webkit-scrollbar-thumb,
span::-webkit-scrollbar-thumb,
applet::-webkit-scrollbar-thumb,
object::-webkit-scrollbar-thumb,
iframe::-webkit-scrollbar-thumb,
h1::-webkit-scrollbar-thumb,
h2::-webkit-scrollbar-thumb,
h3::-webkit-scrollbar-thumb,
h4::-webkit-scrollbar-thumb,
h5::-webkit-scrollbar-thumb,
h6::-webkit-scrollbar-thumb,
p::-webkit-scrollbar-thumb,
blockquote::-webkit-scrollbar-thumb,
pre::-webkit-scrollbar-thumb,
a::-webkit-scrollbar-thumb,
abbr::-webkit-scrollbar-thumb,
acronym::-webkit-scrollbar-thumb,
address::-webkit-scrollbar-thumb,
big::-webkit-scrollbar-thumb,
cite::-webkit-scrollbar-thumb,
code::-webkit-scrollbar-thumb,
del::-webkit-scrollbar-thumb,
dfn::-webkit-scrollbar-thumb,
em::-webkit-scrollbar-thumb,
img::-webkit-scrollbar-thumb,
ins::-webkit-scrollbar-thumb,
kbd::-webkit-scrollbar-thumb,
q::-webkit-scrollbar-thumb,
s::-webkit-scrollbar-thumb,
samp::-webkit-scrollbar-thumb,
small::-webkit-scrollbar-thumb,
strike::-webkit-scrollbar-thumb,
strong::-webkit-scrollbar-thumb,
sub::-webkit-scrollbar-thumb,
sup::-webkit-scrollbar-thumb,
tt::-webkit-scrollbar-thumb,
var::-webkit-scrollbar-thumb,
b::-webkit-scrollbar-thumb,
u::-webkit-scrollbar-thumb,
i::-webkit-scrollbar-thumb,
center::-webkit-scrollbar-thumb,
dl::-webkit-scrollbar-thumb,
dt::-webkit-scrollbar-thumb,
dd::-webkit-scrollbar-thumb,
ol::-webkit-scrollbar-thumb,
ul::-webkit-scrollbar-thumb,
li::-webkit-scrollbar-thumb,
fieldset::-webkit-scrollbar-thumb,
form::-webkit-scrollbar-thumb,
label::-webkit-scrollbar-thumb,
legend::-webkit-scrollbar-thumb,
table::-webkit-scrollbar-thumb,
caption::-webkit-scrollbar-thumb,
tbody::-webkit-scrollbar-thumb,
tfoot::-webkit-scrollbar-thumb,
thead::-webkit-scrollbar-thumb,
tr::-webkit-scrollbar-thumb,
th::-webkit-scrollbar-thumb,
td::-webkit-scrollbar-thumb,
article::-webkit-scrollbar-thumb,
aside::-webkit-scrollbar-thumb,
canvas::-webkit-scrollbar-thumb,
details::-webkit-scrollbar-thumb,
embed::-webkit-scrollbar-thumb,
figure::-webkit-scrollbar-thumb,
figcaption::-webkit-scrollbar-thumb,
footer::-webkit-scrollbar-thumb,
header::-webkit-scrollbar-thumb,
hgroup::-webkit-scrollbar-thumb,
main::-webkit-scrollbar-thumb,
menu::-webkit-scrollbar-thumb,
nav::-webkit-scrollbar-thumb,
output::-webkit-scrollbar-thumb,
ruby::-webkit-scrollbar-thumb,
section::-webkit-scrollbar-thumb,
summary::-webkit-scrollbar-thumb,
time::-webkit-scrollbar-thumb,
mark::-webkit-scrollbar-thumb,
audio::-webkit-scrollbar-thumb,
video::-webkit-scrollbar-thumb {
  width: 6px;
  background-color: #a8a8a8;
  border-radius: 3px;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
